.App {
  display: flex;
  justify-content: center;
  align-items: center;

  padding: 10rem;
}

.slider {
  position: relative;
  display: flex;
  justify-content: space-between;
}

.arrows {
  position: absolute;
  top: 50%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  padding: 0 1rem;

  span {
    background-color: white;
    border-radius: 50%;
    cursor: pointer;

    font-size: 3.5rem;
  }
}

.arrowRight {
  transform: rotate(-90deg);
}

.arrowLeft {
  transform: rotate(90deg);
}

.imagemSlider {
  height: 700px;
  border: solid 10px rgb(40, 27, 112);
}

.dots {
  position: absolute;
  top: 90%;
  left: 50%;
  display: flex;
  justify-content: center;
  margin-top: 10px;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 5px;
  background-color: gray;
  border-radius: 50%;
  cursor: pointer;
  transition: background 0.3s;
}

.dot.active {
  background-color: rgb(250, 7, 7);
}
